.form {
    display: flex;
    flex-direction: row;

    .card {
        //border: 1px solid #000;
        border-radius: 5px;
        padding: 10px;
        box-shadow: 0 2px 2px rgba(8, 8, 8, .2);
        background-color: #fff;
        width: 330px;
    }

    .card_left {
        margin-left: 10px;
    }

    .card_right {
        margin-right: 10px;
    }

    .card__row {
        margin-top: 15px;
    }

    .card__row_title {
        font-size: 13.93px;
        line-height: 21.33px;
        text-transform: uppercase;
        margin-top: 0;
    }

    .card__row_name {
        display: flex;
        flex-direction: row;
    }

    .card__field {
        .card__field-title {

            font-size: 11px;
            margin-bottom: 4px;
        }

        .card__field-value {
            display: flex;
            align-items: center;
        }

        .card__date-seporator {
            margin: 0 5px;
        }

    }

    .card__field_date {
        margin-left: 20px;
    }

    .card__row_cvc {
        justify-content: flex-end;
        display: flex;

        .card__field {
            width: 120px;
        }
    }


}


.footer {
    margin-top: 25px;
    display: flex;
    justify-content: center;


    .footer__cols {
        display: flex;
        flex-direction: row;
    }

    .footer__col_input {
        width: 150px;
        margin-right: 15px;
    }

    button {
        height: 100%;
        padding: 10px;
        border: 0;
    }
}