<form [formGroup]="form" (submit)="onSubmit()">
  <div class="form">
    <div class="card card_right">
      <div class="card__row card__row_title">
        Карта плательщика
      </div>
      <div class="card__row">
        <div class="card__field">
          <div class="card__field-title">Номер</div>
          <div class="card__field-value">
            <input
              [textMask]="{ mask: CARD_MASK, guide: false }"
              formControlName="senderNum"
              [(ngModel)]="model.sender.num"
              placeholder="0000 0000 0000 0000"
            />
          </div>
        </div>
      </div>
      <div class="card__row card__row_name">
        <div class="card__field">
          <div class="card__field-title">ФИО держателя</div>
          <div class="card__field-value">
            <input
              [(ngModel)]="model.sender.name"
              formControlName="senderName"
            />
          </div>
        </div>
        <div class="card__field card__field_date">
          <div class="card__field-title">активна до:</div>
          <div class="card__field-value">
            <select
              [(ngModel)]="model.sender.date.month"
              formControlName="senderDateMonth"
            >
              <option
                *ngFor="let m of months"
                [disabled]="m < lastDisabledMonth"
                [ngValue]="m"
                >{{ m }}</option
              >
            </select>
            <div class="card__date-seporator">/</div>
            <select
              [(ngModel)]="model.sender.date.year"
              (change)="yearChange($event)"
              formControlName="senderDateYear"
            >
              <option *ngFor="let y of years" [ngValue]="y">{{ y }}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="card__row card__row_cvc">
        <div class="card__field">
          <div class="card__field-title">CVC2/CVV2</div>
          <div class="card__field-value">
            <input
              [textMask]="{ mask: CVC_MASK, guide: false }"
              [(ngModel)]="model.sender.code"
              formControlName="senderCvc"
              placeholder="000"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="card card_left">
      <div class="card__row card__row_title">
        Карта получателя
      </div>
      <div class="card__row">
        <div class="card__field">
          <div class="card__field-title">
            Номер
          </div>
          <div class="card__field-value">
            <input
              [textMask]="{ mask: CARD_MASK, guide: false }"
              formControlName="receiverNum"
              [(ngModel)]="model.receiver.num"
              placeholder="0000 0000 0000 0000"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="footer__cols">
      <div class="footer__col footer__col_input">
        <input
          [(ngModel)]="model.summ"
          onlyNumbers
          formControlName="summ"
          placeholder="Сумма"
          [useDecimal]="true"
        />
      </div>
      <div class="footer__col">
        <button type="submit" [disabled]="!form.valid">Перевести</button>
      </div>
    </div>
  </div>
</form>
