:host {
    display: flex;
    flex-direction: column;
    flex: 1;

    .content {
        flex: 1;
        display: flex;
    }

    .header {
        margin: 20px 40px;

        .header__menu {
            margin-top: 20px;
            display: flex;
            flex-direction: row;

            a {
                display: block;
                text-decoration: none;
                padding: 5px 10px;
                color: #000;
            }

            a.active {
                background-color: #cccccc6e;
            }
        }
    }
}