<div class="header">
  <div class="header__title">
    <h1>Перевод с карты на карту</h1>
  </div>

  <div class="header__menu">
    <a
      routerLinkActive="active"
      routerLink="{{ item.route }}"
      *ngFor="let item of items"
      >{{ item.title }}</a
    >
  </div>
</div>

<div class="content">
  <router-outlet></router-outlet>
</div>
