:host {
    display: flex;
    flex: 1;

    .wrapper {
        flex: 1;
        display: flex;


        .container {

            justify-content: center;
            align-items: center;
            flex: 1;
            display: flex;
            flex-direction: column;

        }

    }

}