:host {
    flex: 1;

    .wrapper {
        margin-top: 60px;
        display: flex;
        justify-content: center;

        table,
        th,
        td {
            border: 1px solid #ccc;
        }

        table {
            background-color: #fff;
            border-collapse: collapse;

            tr {

                td {
                    padding: 5px 10px;
                    font-size: 14px;
                }

                th {
                    font-size: 12px;
                    font-weight: 600;
                    padding: 20px 10px;
                }

                .buttons {

                    .buttons__container {
                        display: flex;
                        flex-direction: row;
                    }

                    button {
                        padding: 3px 5px;
                    }

                    .btn_left {
                        margin-right: 5px;
                    }

                    .btn_right {
                        margin-left: 5px;
                    }
                }
            }
        }
    }
}