<div class="wrapper">
  <table>
    <tr>
      <th>№</th>
      <th>Карта плательщика</th>
      <th>Карта получателя</th>
      <th>Сумма</th>
      <th>Дата выполнения</th>
      <th>Действие</th>
    </tr>
    <tr *ngFor="let item of items; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ item.sender.num | cardMask }}</td>
      <td>{{ item.receiver.num | cardMask }}</td>
      <td>{{ item.summ | ruCurrencyMask }}</td>
      <td>{{ item.transferDate | date: 'd.MM.y, HH:mm' }}</td>
      <td class="buttons">
        <div class="buttons__container">
          <button class="btn btn_left" (click)="navigate(i)">повторить</button>
          <button class="btn btn_right" (click)="remove(i)">удалить</button>
        </div>
      </td>
    </tr>
  </table>
</div>
