* {
    margin: 0px;
    padding: 0px;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex: 1;
    font-family: Arial,
        Helvetica,
        sans-serif;
}


input {
    font-size: 21px;
    border: 2px solid #efefef;
    border-radius: 5px;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
}

select {
    font-size: 21px;
    border: 2px solid #efefef;
    border-radius: 5px;
    padding: 10px;
}

input:hover {
    border: 2px solid #ccc;
}

input:focus {
    outline: none;
}

input::placeholder {
    color: #efefef;
}


input.ng-touched.ng-invalid,
select.ng-touched.ng-invalid {
    border: 2px solid #ff9aa9;
}